* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background: #89CFF0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.s {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.bar a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    /* color: black; */
    /* font-weight: bolder;
    font-size: 25px; */
}

.bar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.bar a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.bar .click{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.bar .click:hover {
    background: #fff;
    color: #162938;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('dream.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.w {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    margin-bottom: 30px;
    outline: none;
    cursor: pointer
}

.w .ss {
    width: 100%;
    padding: 40px; 
}

.ss h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}


.i {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.i label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.i input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.i input:focus~label,
.i input:valid~label {
    top: -5px;
}

.b {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    
}

p {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 900px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-attachment: scroll;
    border: 3px solid aqua;
    border-radius: 6px;
    /* background-color: #fff; */
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    box-sizing: content-box;
}

.q {
    text-decoration: none;
    color: #fff;
}

